.row(*ngIf="shop")
    .col-xs-12.col-md-8.col-md-offset-2
        .x_panel
            .x_title
                .row
                    .col-xs-6
                        h5 Выбор контракта
                    .col-xs-6
                        button.btn.btn-default.btn-sm.pull-right((click)="navigateBack()") Назад
            .x_content
                kof-contract-select([currentContractID]="shop.contractID", (onSelect)="selectContract($event)")

                div(*ngIf="selectedContract")
                    .ln_solid
                    kof-contract-details([contract]="selectedContract")

        .x_panel(*ngIf="selectedContract")
            .x_title
                h5 Выбор средства вывода
            .x_content
                kof-payout-tool-select([contractID]="selectedContract.id", [currentPayoutToolID]="shop.payoutToolID", (onSelect)="selectPayoutTool($event)")

                div(*ngIf="selectedPayoutTool")
                    .ln_solid
                    kof-payout-tool-details([payoutTool]="selectedPayoutTool")

        .x_panel(*ngIf="selectedContract && selectedPayoutTool && (selectedContract.id !== shop.contractID || selectedPayoutTool.id !== shop.payoutToolID)")
            .x_content
                button.btn.btn-primary.pull-right.clear-margin((click)="bindContract()") Создать заявку на изменение контракта

        .x_panel(*ngIf="!selectedContract")
            .x_content
                kof-contract-create([shopID]="shop.id", (onCreate)="createAndBindContract($event)")
