.row
    .col-xs-12
        .x_panel.tile
            .form_wizard.wizard_horizontal
                ul.wizard_steps.anchor
                    li
                        a([ngClass]="{'disabled': stepOneVisited === false, 'done': stepOneVisited === true && currentWizardStep !== 1, 'selected': currentWizardStep === 1}")
                            span.step_no 1
                            span.step_descr Шаг 1
                                br
                                small Выбор контракта
                    li
                        a([ngClass]="{'disabled': stepTwoVisited === false, 'done': stepTwoVisited === true && currentWizardStep !== 2, 'selected': currentWizardStep === 2}")
                            span.step_no 2
                            span.step_descr Шаг 2
                                br
                                small Выбор счета
                    li
                        a([ngClass]="{'disabled': stepThreeVisited === false, 'done': stepThreeVisited === true && currentWizardStep !== 3, 'selected': currentWizardStep === 3}")
                            span.step_no 3
                            span.step_descr Шаг 3
                                br
                                small Данные магазина
            .actionBar(*ngIf="currentStrategy !== 'no'")
                .text-center
                    a.buttonPrevious.btn.btn-default((click)="stepBack()") Назад
                    a.buttonNext.btn.btn-default((click)="stepForward()") Вперёд
                    a.buttonFinish.btn.btn-default.buttonDisabled Завершить
            .ln_solid
            .tile(*ngIf="currentWizardStep !== 3 && !(currentWizardStep === 2 && isNewContractCreated === true)")
                .text-center
                    h4 Выберите
                    .btn-group(data-toggle="buttons")
                        label.btn.btn-default(data-toggle-class="btn-primary", data-toggle-passive-class="btn-default", (click)="setNewStrategy()")
                            input(type="radio", name="way", value="new")
                            span Новый
                        label.btn.btn-default(data-toggle-class="btn-primary", data-toggle-passive-class="btn-default", (click)="setExistingStrategy()")
                            input(type="radio", name="way", value="existing")
                            span Существующий
                    br
                    br
            .tile
                kof-create-contract(*ngIf="currentWizardStep === 1 && currentStrategy === 'new'")
                kof-select-contract(*ngIf="currentWizardStep === 1 && currentStrategy === 'existing'")
                kof-create-payout-account(*ngIf="currentWizardStep === 2 && currentStrategy === 'new'")
                kof-select-payout-account(*ngIf="currentWizardStep === 2 && currentStrategy === 'existing'")
                kof-add-shop(*ngIf="currentWizardStep === 3")
            .actionBar
                .text-center
                    a.buttonPrevious.btn.btn-default((click)="stepBack()") Назад
                    a.buttonNext.btn.btn-default((click)="stepForward()", *ngIf="currentStrategy !== 'no'") Вперёд
                    a.buttonFinish.btn.btn-default.buttonDisabled(*ngIf="currentStrategy !== 'no'") Завершить