.row
    .col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        .x_panel(*ngIf="claims?.length > 0")
            .x_title
                h5 Заявки
            .x_content
                table.table.table-striped
                    thead
                        tr
                            th Идентификатор заявки
                            th Статус
                            th Время создания
                            th
                    tbody(*ngFor="let claim of claims")
                        tr
                            td {{claim.id}}
                            td {{claim.status | kofClaimStatus}}
                            td {{claim.createdAt | date: "dd.MM.yyyy HH:mm:ss"}}
                            td
                                button.btn.btn-xs.btn-default.pull-right((click)="goToClaimDetails(claim.id)") Детали заявки
        .x_panel
            .x_title
                h5 Магазины
            .x_content
                kof-loading([isLoading]="isCreating")
                table.table.table-striped(*ngIf="shops?.length > 0")
                    thead
                        tr
                            th Наименование
                            th.hidden-xs.hidden-sm Адрес
                            th
                    tbody(*ngFor="let shop of shops")
                        tr
                            td {{shop?.details?.name}}
                            td.hidden-xs.hidden-sm {{shop?.location?.url}}
                            td
                                .pull-right
                                    button.btn.btn-xs.btn-default((click)="goToShop(shop.id)") Перейти в магазин
        .x_panel
            .x_title
                h5 Действия
            .x_content
                button.btn.btn-default((click)="createShop()") Создать магазин
        .x_panel
            .x_title
                h5 Кошельки
            .x_content
                button.btn.btn-default((click)="toWallets()") Управление кошельками
p-dialog([(visible)]="displayWarning", width="660")
    div(*ngIf="!displayWarningDetails")
        p Уважаемый клиент!
        p В целях предоставления документов просим СРОЧНО связаться по телефону +7(495)648-68-58, либо по электронной почте
            a(href="mailto: help@rbk.money") &nbsp;help@rbk.money
        button.btn.btn-default((click)="toggleWarningDetails()") Детали
    div(*ngIf="displayWarningDetails")
        p Уважаемый клиент!
        p Напоминаем Вам о том, что в соответствии с требованиями Федерального закона № 115-ФЗ, а также пунктом 4.4.1 Договора, Вы обязаны представлять в НКО «ЭПС» (ООО) документы и сведения по запросу.
        p В этой связи просим Вас предоставить в НКО «ЭПС» (ООО) заполненную и подписанную в соответствии с запросом, направленным на Ваш email.
        p Если Вы не получали такой запрос просим связаться с нами по телефону +7(495)648-68-58, либо по электронной почте
            a(href="mailto: help@rbk.money") &nbsp;help@rbk.money
        p Обращаем Ваше внимание, что в случае неполучения документов в установленный в запросе срок, НКО «ЭПС» (ООО) вправе приостановить доступ к личному кабинету и приостановить прием платежей.
