.row
    .col-xs-12
        .x_panel.tile
            .x_title
                h4 Изменение данных магазина
            .x_content
                kof-loading([isLoading]="isLoading")
                    form.form-horizontal.form-label-left.css-form(*ngIf="shop", novalidate, (ngSubmit)="updateShop(form)", name="form", #form="ngForm")
                        .form-group([ngClass]="{'has-error': hasError(shopName)}")
                            .col-xs-12.col-sm-3
                                label.text-left Название магазина *
                            .col-xs-12.col-sm-6
                                input.form-control(type="text", [ngModel]="shop.details.name", (ngModelChange)="onFieldChange('details.name', $event)", name="shopName", #shopName="ngModel", required)
                        .form-group
                            .col-xs-12.col-sm-3
                                label.text-left Описание магазина
                            .col-xs-12.col-sm-6
                                input.form-control(type="text", [ngModel]="shop.details.description", (ngModelChange)="onFieldChange('details.description', $event)", name="shopDescription")
                        .form-group
                            .col-xs-12.col-sm-3
                                label.text-left Адрес
                            .col-xs-12.col-sm-6
                                input.form-control(type="text", [ngModel]="shop.details.location.url", (ngModelChange)="onFieldChange('details.location.url', $event)", name="shopLocation")
                        .form-group
                            .col-xs-12.col-sm-3
                                label.text-left Контракт
                            .col-xs-12.col-sm-3
                                kof-select([ngModel]="shop.contractID", [items]="contractItems", (onChange)="selectContract($event)", name='contractID')
                        //    .col-xs-12.col-sm-3
                        //        a.btn.btn-dark((click)="isShowContractDetails = !isShowContractDetails")
                        //            span(*ngIf="!isShowContractDetails") Просмотр
                        //            span(*ngIf="isShowContractDetails") Скрыть
                        //.form-group(*ngIf="isShowContractDetails")
                        //    .col-xs-12.col-sm-3
                        //        label.text-left Детали контракта
                        //    .col-xs-12.col-sm-6
                        //        kof-contract-view([contract]="shopContract", [isShowPayoutTools]="false")
                        //.form-group
                        //    .col-xs-12.col-sm-3
                        //        label.text-left Счет
                        //    .col-xs-12.col-sm-3
                        //        kof-select([(ngModel)]="shop.payoutToolID", [items]="payoutToolItems", (onChange)="selectPayoutTool($event)", name='payoutToolID')
                        //    .col-xs-12.col-sm-3
                        //        a.btn.btn-dark((click)="isShowPayoutAccountDetails = !isShowPayoutAccountDetails")
                        //            span(*ngIf="!isShowPayoutAccountDetails") Просмотр
                        //            span(*ngIf="isShowPayoutAccountDetails") Скрыть
                        .form-group(*ngIf="isShowPayoutAccountDetails")
                            .col-xs-12.col-sm-3
                                label.text-left Детали счета
                            .col-xs-12.col-sm-6
                                kof-payout-tool-view([payoutTool]="shopPayoutTool")
                        .form-group
                            .col-xs-12.col-sm-3
                                label.text-left Категория
                            .col-xs-12.col-sm-6
                                kof-select([ngModel]="shop.categoryID", (onChange)="onSelectCategory($event)", [items]="categoryItems", name='category')
                        .form-group
                            .col-xs-12.col-sm-3
                                label.text-left CallbackHandler URL
                            .col-xs-12.col-sm-6
                                input.form-control(type="text", [ngModel]="shop.callbackHandler.url", (ngModelChange)="onFieldChange('callbackHandler.url', $event)", name="callbackHandlerUrl")
                        .ln_solid
                        .form-group
                            .col-xs-12.col-sm-6.col-sm-offset-3
                                button.btn.btn-primary(type="submit", [disabled]="form.invalid || form.pristine") Создать заявку
                                a.btn.btn-default.pull-right(type="reset", [routerLink]=["/management"]) Назад
