.x_panel.tile
    .x_title
        h4 Изменение данных магазина
    .x_content
        kof-loading([isLoading]="isLoading")
            form.form-horizontal.form-label-left.css-form(*ngIf="shop", novalidate, name="form", #form="ngForm")
                .form-group([ngClass]="{'has-error': hasError(shopName)}")
                    .col-xs-12.col-sm-3
                        label.text-left Название магазина *
                    .col-xs-12.col-sm-6
                        input.form-control(type="text", [ngModel]="shop.details.name", (ngModelChange)="onFieldChange('details.name', $event)", name="shopName", #shopName="ngModel", required)
                .form-group
                    .col-xs-12.col-sm-3
                        label.text-left Описание магазина
                    .col-xs-12.col-sm-6
                        input.form-control(type="text", [ngModel]="shop.details.description", (ngModelChange)="onFieldChange('details.description', $event)", name="shopDescription")
                .form-group
                    .col-xs-12.col-sm-3
                        label.text-left Адрес
                    .col-xs-12.col-sm-6
                        input.form-control(type="text", [ngModel]="shop.details.location ? shop.details.location.url : null", placeholder="https://example.com", (ngModelChange)="onFieldChange('details.location.url', $event)", name="shopLocation")
                .form-group
                    .col-xs-12.col-sm-3
                        label.text-left Callback handler URL
                    .col-xs-12.col-sm-6
                        input.form-control(type="text", [ngModel]="shop.callbackHandler ? shop.callbackHandler.url : null", placeholder="https://example.com", (ngModelChange)="onFieldChange('callbackUrl', $event)", name="callbackHandlerUrl")
                .form-group
                    .col-xs-12.col-sm-3
                        label.text-left Категория
                    .col-xs-12.col-sm-6
                        kof-select([ngModel]="shop.categoryID", (onChange)="onSelectCategory($event)", [items]="categoryItems", name='category')
                .form-group
                    .col-xs-12.col-sm-3
                        label.text-left Контракт
                    .col-xs-12.col-sm-6
                        kof-select([ngModel]="shop.contractID", [items]="contractItems", (onChange)="onSelectContract($event)", name='contractID')
                .form-group
                    .col-xs-12.col-sm-3
                    .col-xs-12.col-sm-6
                        kof-contract-view([contract]="shopContract")
                .form-group
                    .col-xs-12.col-sm-3
                        label.text-left Средство вывода
                    .col-xs-12.col-sm-6
                        kof-select([ngModel]="shop.payoutToolID", (onChange)="onSelectPayoutTool($event)", [items]="payoutToolItems", name='payoutToolID')
                .form-group
                    .col-xs-12.col-sm-3
                    .col-xs-12.col-sm-6
                        kof-payout-tool-view([payoutTool]="shopPayoutTool")