form.form-inline.date-range-selector
    label.control-label Временной интервал:
    .form-group
        p-calendar.ui-inputtext(
        [(ngModel)]="from",
        [maxDate]="to",
        name="fromTime",
        dateFormat="dd.mm.yy",
        readonlyInput="true",
        (onSelect)="selectFrom()")
        p-calendar.ui-inputtext(
        [(ngModel)]="to",
        [minDate]="from",
        name="toTime",
        dateFormat = "dd.mm.yy",
        readonlyInput="true",
        (onSelect)="selectTo()")
    button.btn.btn-default((click)="select()", [disabled]="disabled") {{buttonName}}